{% extends "base.html" %}
{% block header %}Вход на сайт{% endblock header %}

{% block content %}
    <div class="login-form">
        <form  method="post">
            {% csrf_token %}
            {% if messages %}
                <table class="messages-table">
                    <thead>
                        {% for message in messages %}
                        <tr>
                            <th> {{ message }}</th>
                        </tr>
                        {% endfor %}
                    </thead>
                </table>
            {% endif %}




            {{ form.as_p }}




            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <button class="form-control" type="submit">Войти</button>
        </form>
    </div>
{% endblock %}