<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Welcome to the official website of Markokeks Autoservice.">
        <meta name="keywords" content="auto, autoservice, autorepair, car">
        <meta name="author" content="romarkovets">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'logo.png' %}">
        <title>АвтоСервис Маркокекс</title>
        <style>
            @import url("{% static 'css/base.css' %}");
            {% block style %}
            {% endblock %}
        </style>
    </head>
    <body>
        <header>
            <nav class="menu">
                <a href="/">Главная</a>
                | <a href="/about">О компании</a>
                | <a href="/news">Новости</a>
                | <a href="/faq">FAQ </a>
                | <a href="/contacts">Контакты </a>
                | <a href="/privacy">Политика конфиденциальности </a>
                | <a href="/vacancies">Вакансии </a>
                | <a href="/reviews">Отзывы </a>
                | <a href="/discounts">Промокоды </a>

                | <a href="/services">Услуги </a>
                {% if user.is_authenticated %}
                    {% if user.is_employee %}
                    {% else %}
                    | <a href="/customerorders">Заказы </a>
                    {% endif %}
                    | <a href="/logout">Выход </a>
                {% else %}
                    | <a href="/login">Вход </a>
                    | <a href="/registration">Регистрация </a>
                {% endif %}
                | <a href="/additional">Дополнительное </a>
            </nav>
        </header>


        <h1>{% block header %}{% endblock header %}</h1>
        <div>{% block content%}{% endblock content %}</div>

        <footer lang="en">
            ©2025 Autoservice Markokeks. All rights reserved.
        </footer>
    </body>
</html>