<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}АвтоСервис Маркокекс{% endblock title %}</title>
</head>
<body>
    <div><a href="/">Главная</a> |
        <a href="/about">О компании</a> |
        <a href="/news">Новости</a> |
        <a href="/faq">FAQ </a> |
        <a href="/privacy">Политика конфиденциальности </a> |
        <a href="/contacts">Контакты </a> |
        <a href="/vacancies">Вакансии </a> |
        <a href="/reviews">Отзывы </a> |
        <a href="/discounts">Промокоды </a> |
        <a href="/login">Вход </a> |
        <a href="/registration">Регистрация </a>
    </div>


    <h1>{% block header %}{% endblock header %}</h1>
    <div>{% block content%}{% endblock content %}</div>
</body>
</html>