ul {
    list-style-type: none;   /* Убираем стандартные маркеры */
    padding-left: 0;
}

/*ul li:hover {*/
/*    background-color: #ddd;*/
/*    transform: scale(1.05);*/
/*    transition: all 0.3s ease;*/
/*}*/

ul li::before {
    content: "\263A";       /* Юникод-символ для маркера (например, •) */
}