{% extends "base.html" %}
{% block header %}
    Отзывы
{% endblock header %}

{% block content %}
    <body>
        <a href="/reviews/create"> <button>Оставить отзыв</button> </a>
        <br>
        <br>
        {% if reviews.count > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Описание</th>
                        <th>Никнейм</th>
                        <th>Оценка</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                {% for review in reviews %}
                    <tr>
                        <td>{{ review.description }}</td>
                        <td>{{ review.user.username }}</td>
                        <td>{{ review.score }}</td>
                        <td>{{ review.created_at }}</td>
                        {% if user.is_authenticated and review.user == user or user.is_staff%}
                            <td><a href="edit/{{review.id}}">Изменить</a> | <a href="delete/{{review.id}}">Удалить</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </body>
{% endblock %}