{% extends "base.html" %}
{% block content %}
    <head>
        <meta charset="utf-8" />
        <title>Добавить отзыв</title>
    </head>
    <body>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}  <!-- автоматически выводит все поля формы, обернутые в <p> -->
            <button type="submit">Отправить</button>
        </form>
<!--        <form method="POST" action="">-->
<!--            {% csrf_token %}-->
<!--            <p>-->
<!--                <label>Введите содержание</label><br>-->
<!--                <input type="text" name="description" />-->
<!--            </p>-->
<!--            <p>-->
<!--                <label>Введите оценку от 1 до 10</label><br>-->
<!--                <input type="number" name="score" />-->
<!--            </p>-->
<!--            <input type="submit" value="Добавить" >-->
<!--        </form>-->
    </body>
{% endblock %}