{% extends "base.html" %}

{% block content %}
    <h1>Отзывы</h1>

     {% for review in reviews %}
        <div>
            <h2>{{review.name}}</h2>
            <p>{{review.description}}</p>
            <p>{{review.score}}</p>
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        <h1>Добавить отзыв</h1>
        <div class="login-form">
            <form  method="post">
                {% csrf_token %}

                {% if messages %}
                <table class="messages-table">
                    <thead>
                        {% for message in messages %}
                        <tr>
                            <th> {{ message }}</th>
                        </tr>
                        {% endfor %}
                    </thead>
                </table>
                {% endif %}

                {{ form.as_p }}



                <button class="form-control" type="submit">Добавить отзыв</button>
            </form>

        </div>
    {% endif %}
{% endblock %}