{% extends "base.html" %}
{% block header %}
    Изменить отзыв
{% endblock header %}

{% block style %}
    {% load static %}
        @import url("{% static 'css/review_edit.css' %}")
{% endblock %}

{% block content %}
    <body>
        <form method="POST">
            {% csrf_token %}
<!--            {{ form.as_p }}  &lt;!&ndash; автоматически выводит все поля формы, обернутые в <p> &ndash;&gt;-->

            <div class="form-group">
            <label for="id_description">Содержание</label>
            {{ form.description }}
            {% if form.description.errors %}
                <div class="text-danger">
                    {{ form.description.errors }}
                </div>
            {% endif %}
            </div>

            <div class="form-group">
                <label for="id_score">Оценка</label>
                {{ form.score }}
                {% if form.score.errors %}
                    <div class="text-danger">
                        {{ form.score.errors }}
                    </div>
                {% endif %}
            </div>
            <button type="submit">Отправить</button>
        </form>








<!--        <form method="POST">-->
<!--            {% csrf_token %}-->
<!--            <p>-->
<!--                <label>Введите содержание</label><br>-->
<!--                <input type="text" name="description" value="{{review.description}}" />-->
<!--            </p>-->
<!--            <p>-->
<!--                <label>Введите оценку от 1 до 10</label><br>-->
<!--                <input type="number" name="score" value="{{review.score}}" />-->
<!--            </p>-->
<!--            <input type="submit" value="Изменить" >-->
<!--        </form>-->
    </body>
{% endblock %}